//COLORS
$background: #8EC5FC;
$border-color: rgba(255, 255, 255, 0.10);
$text-color: #202020;
$primary-color: #E0C3FC;

// MEDIA QUERIES BREAKPOINTS

$breakpoint-small: 320px; //max-width
$breakpoint-phone: 767px; //max-width
$breakpoint-tablet: 768px; //min-width
$breakpoint-laptop: 1024px; //min-width
$breakpoint-desktop: 1600px; //min-width