.greeting {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    width: 45%;

    &__icon {
        width: 10vmin;
        height: 10vmin;
        margin-right: 3vw;
    }

    p {
        font-size: 0.8rem;
    }
}