@use './mixins' as *;

.greeting {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%;

    @include small-phone {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
    }

    @include phone {
        justify-content: center;
        width: 100%;
        padding: 10vh 5vw;
    }

    &__text {
        h2 {
            font-size: 2.5rem;
            line-height: 95%;

            @include small-phone {
                font-size: 2rem;
                text-align: center;
                margin: 10px 0;
            }

            @include phone {
                font-size: 2.2rem;
            }
        }
    }

    &__icon {
        width: 10vmin;
        height: 10vmin;
        margin-right: 3vw;

        @include small-phone {
            width: 30vmin;
            height: 30vmin;
            margin: 25px;
        }

        @include phone {
            width: 20vmin;
            height: 20vmin;
        }
    }

    p {
        font-size: 0.8rem;

        @include small-phone {
            text-align: center;
        }
    }
}