.newsfeed {
    width: 40%;

    &__article {
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
            font-size: .8rem;
        }
    }

    &__img {
        margin-left: 20px;
        width: 25%;
    }
}