@use './mixins' as *;
@use './variables' as *;

.todo {
    width: 50%;

    @include small-phone {
        width: 100%;
    }

    @include phone {
        width: 100%;
    }

    &__form {
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        @include small-phone {
            flex-direction: column;
        }
    
        @include phone {
            flex-direction: column;
        }

        input {
            width: 90%;
            padding: 10px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            outline: none;

            @include small-phone {
                width: 100%;
                padding: 15px;
            }
        
            @include phone {
                width: 100%;
                padding: 15px;
            }
        }

        &__btn {
            border-radius: 10px;
            padding: 10px 20px;
            background-color: #8EC5FC;
            text-transform: uppercase;
            font-size: .8rem;
            color: white;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            border: none;
            transition-duration: 0.4s;

            &:hover {
                background-color: #a8d2fc;
                cursor: pointer;
            }

            @include small-phone {
                padding: 15px;
                width: 100%;
            }
        
            @include phone {
                padding: 15px;
                width: 100%;
            }
        } 
    }

    &__list {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(248, 247, 247);
            padding: 10px;
            margin: 5px 0;
            border-radius: 10px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            @include small-phone {
                margin: 10px 0;
            }
        
            @include phone {
                margin: 10px 0;
            }

            button, :hover, :active {
                background-color: none;
                border: none;

                .fa-trash-alt {
                    color: #c697f1;
                    font-size: 1rem;
                    background-color: none;
                    transition-duration: 0.3s;

                    &:hover {
                        cursor: pointer;
                        color: #E0C3FC;
                    }
                }
            }
        }

        &__text {
            padding: 5px 10px;
            font-size: 1rem;
        }
    }
}